{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">{% trans "Audience Email Accounts Upload" %}</h2>
    <div class="card">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="csvFile" class="form-label">{% trans "Upload CSV File" %}</label>
                    {{ form.csv_file }}  <!-- Regular form rendering without crispy -->
                </div>
                <button type="submit" class="btn btn-primary mt-3">{% trans "Upload" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
